<h2>Booking Information</h2>
<p>Name:<%= @booking[:name] %></p>
<p>Table Size:<%= @booking[:table_size] %></p>
<p>Date:<%= @booking[:date] %></p>
<p>Time:<%= @booking[:time] %></p>
<p>Reservation Type:<%= @booking[:reservation_type] %></p>
<a href="/customer_bookings">Back to Bookings</a><br/><br/>
<a href="//localhost:7272/customer/home">Back to homepage</a>