<h2>Booking Information</h2>
<p>Name:<%= @booking[:name] %></p>
<p>Phone Number:<%= @booking[:phone_number] %></p>
<p>Email Address:<%= @booking[:email_address] %></p>
<p>Table Size:<%= @booking[:table_size] %></p>
<p>Date:<%= @booking[:date] %></p>
<p>Time:<%= @booking[:time] %></p>
<p>Reservation Type:<%= @booking[:reservation_type] %></p>
<form action="/booking/edit/<%= @booking[:id] %>" method="get">
      <input type="submit" value="Edit Booking">
</form>
<p><a href="/bookings">Back to Bookings</a></p>
<p><a href="<%= settings.address %>:9292/staff/home">Go to Homepage</a></p>